  <form>
                <label for="name" style="flex-direction: column;">Name:</label>
                <input type="text" id="name" name="name" placeholder="Enter your name">


                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                        placeholder="name@example.com">
                </div>

                 <label for="name" style="flex-direction: column;">Contact No.:</label>
                <input type="text" id="name" name="Contact" placeholder="Enter your name">








                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label" n>Query</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="Query"></textarea>
                </div>



                <button type="submit" style="text-align: center;">Submit</button>
            </form>