{%load static%}
<style>
 .nav-link,.dropdown-items{
  color: rgb(25, 53, 44)!important;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
 }
.navbar .nav-link {
  position: relative;
}

.navbar .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: yellow;
  transition: width 0.3s;
}

.navbar .nav-link:hover::after {
  width: 100%;
}


 
</style>



<nav class="navbar navbar-expand-lg " style="background-color: #92a39d;">
  <div class="container-fluid">
    <!-- <a class="navbar-brand" href="#">Navbar</a>
      -->
    <img src="{% static 'agro_app/images/logo.png' %}" alt="" style="width: 50px; height: 50px; border-radius: 50%;">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about/">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact_us/">Contact us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/feedback/">feedback</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/registration/">Registration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/farmer_login/">Login</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="/view_products/">Search Product</a>
         </li>
         <!-- <li class="nav-item">
          <a class="nav-link" href="/fruit_veg/">info</a> -->
       
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Nutrition info
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/protein/">Protein rich food</a></li>
            <li><a class="dropdown-item" href="/fruit_veg/">sesional fruit</a></li>
            <!-- <li><a class="dropdown-item" href="/protein/">Protein rich food</a></li> -->
            <li><a class="dropdown-item" href="/carbs/">Carbs rich food </a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">fiber rich food</a></li>
          </ul>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li> -->
      </ul>
      <!-- <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>