<!DOCTYPE html>
{%load static%}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title style="text-align: center;">contact us </title>
  {% include 'agro_app/common/common_css.html'%}
  <style>
    .bgimage {
      background-image: url("{% static 'agro_app/images/bg2.jpg' %}");
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>
</head>

<body>


    <div class="bgimage">
      
      {%include 'agro_app/common/header.html'%}
        {% if messages %}
    {% for m in messages %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert"
      style="width: 50%;margin: auto;text-align: center; margin-top: 60px;">
      <strong>{{m}}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    {% endfor %}
    {% endif %}

      <h1 style="text-align: center;">Contact page</h1>
     
      <div
        style="margin: 5%;margin-left: 20pc; margin-right: 20pc;  margin-top: 0%;padding: 05%;">
        <form action="/contact_us/" method="post">
          {%csrf_token%}
          <label for="name" style="flex-direction: column;">Name:</label>
          <input type="text" id="name" name="name" placeholder="Enter your name">


          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com"
              name="email" required>
          </div>

          <label for="name" style="flex-direction: column;">Contact No.:</label>
          <input type="number" id="name" name="phone" placeholder="Enter your contact number">

          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label" n>Query</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="Query"></textarea>
          </div>



          <button type="submit" style="text-align: center;">Submit</button>
        </form>
      </div>
    </div>


    {%include 'agro_app/common/footer.html'%}





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
      crossorigin="anonymous"></script>

</body>

</html>